


.checkbutt{
    position: absolute;
}
.cal{
   height: 500px !important;
   width: 500px !important;
    border: black 5px solid;
    position: absolute;
    top: 450px;
    background-color:#FAFAFA;
   
}


.secondlayer{
    border: black 5px solid;
}

.vis{
    position: relative;
    visibility: hidden;}

