.topBar {
  background-color: #686863;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-link:hover {
  color: #304963;
}

.whiteButton {
  background-color: white;
  transition-duration: 0.4s;
  color: black;
  border-radius: 6px;
  width: 120px;
  height: 36px;
}

.whiteButton:hover {
  background-color: #948872;
  color: white;
}

.brownButton {
  background-color: #948872;
  transition-duration: 0.4s;
  color: white;
  border-radius: 6px;
  width: 120px;
  height: 36px;
}

.brownButton:hover {
  background-color: white;
  color: black;
}
.banner {
  width: 100%;
  height: 400px;
  position: relative;
  margin: 0;
}
.banner img {
  width: 100%;
  /* position: absolute; */
  /* display: flex;
  justify-content: center; */
}

.search-bar {
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: center;
}

.BookingBar-content {
  background: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  white-space: nowrap;
  border-radius: 7px;
  height: 50px;
}

h5 {
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 10px;
  display: flex;
  align-self: center;
  font-family: "Montserrat";
  color: #323232;
}

.bookingbar-picker-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  align-self: center;
}

.date {
  /* height: 50px; */
  font-family: "Futura Book", Arial, sans-serif;
  padding: 11px 20px 9px 20px;
  background: #ffffff;
  border: none;
  color: #686863;
}
.check-availability {
  padding: 11px 10px 9px 10px;
  background: #948872;
  border-bottom: 0px;
  border-right: 0px;
  border-top: 0px;
  height: 50px;
  font-family: "Futura Book", Arial, sans-serif;
  border-radius: 0px 7px;
  color: #ffffff;
  transition-duration: 0.4s;
}
.check-availability:hover {
  background: white;
  color: black;
}
.guest-input-label {
  /* content: ""; */
  display: inline-block;
  width: 0.1rem;
  height: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  background: #d4d4d4;
}
.container-banner {
  height: 650px;
  width: 100%;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.BookingBar-content {
  top: -20px;
  position: absolute;
}
i {
  color: #948872;
  font-size: 20px;
}

#adult-count {
  border: none;
  width: 15px;
}
#children-count {
  border: none;
  width: 15px;
}

.label-area {
  width: 245px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: #948872 40px;
  padding: 10px;
}

.guest-input-drop-down {
  width: 300px;
  /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
  border-style: solid;
  border-color: rgb(224, 224, 224);
  border-width: 0.5px;
  padding: 20px 30px 20px 30px;
  position: absolute;
  background-color: #ffffff;
}
em {
  display: block;
  width: 0;
  height: 0;
  border-width: 0 0.4rem 0.4rem;
  border-style: solid;
  border-color: transparent transparent rgb(236, 236, 236);
  color: aliceblue;
  position: relative;
  top: -26px;
  left: 1rem;
}
.guest-dropdown-adult {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #948872;
  border-width: 0.5px;
}
.close {
  display: none;
}
.close:after {
  display: show;
}
.drop-down-container {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 50px;
}
.btn-minus-c,
.btn-minus-a,
.btn-plus-c,
.btn-plus-a {
  background-color: white;
  border: none;
}
.cal {
  height: 500px !important;
  width: 500px !important;
  border: rgb(139, 108, 108) 1px solid;
  position: absolute;
  top: 50px;
  background-color: #fafafa;
}
.vis {
  visibility: hidden;
}
