body {
  font-family: Arial, Helvetica, sans-serif;
}

.topBar {
  background-color: #686863;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homefa-solid {
  width: 62px;
  height: 51px;
}

.loginButton {
  background-color: white;
  transition-duration: 0.4s;
  color: black;
  border-radius: 6px;
  width: 120px;
  height: 36px;
}

.loginButton:hover {
  background-color: #948872;
  color: white;
}

.registerButton {
  background-color: #948872;
  transition-duration: 0.4s;
  color: white;
  border-radius: 6px;
  width: 120px;
  height: 36px;
}

.registerButton:hover {
  background-color: white;
  color: black;
}
